////
/// @file
/// Project icon variables.
////

$icon-set: (
  i-arrow: '\e005',
  i-arrow-right-up: '\e906',
  i-check: '\e900',
  i-close: '\e902',
  i-external: '\e906',
  i-mail: '\e904',
  i-pipe: '|',
  i-print: '\e905',
  i-quote: '\e901',
  i-search: '\e903',
  i-social-facebook: '\f09a',
  i-social-linkedin: '\f0e1',
  i-social-twitter: '\f099',
);
