////
/// @file
/// Project classes for call to action (buttons & links).
////
@use '@helpers' as *;

button {
  &:not(:disabled) {
    cursor: pointer;
  }

  span {
    pointer-events: none;
  }
}

.btn {
  &-A {
    @extend %btn;
    @include btn-color;
  }

  &-B {
    @extend %btn;
    @include btn-color(var(--c-white), var(--c-primary));
  }
}

[class*='btn-'] {
  &:disabled {
    color: var(--c-disabled-dark);
    background-color: var(--c-disabled-light);
  }
}